@mixin boxCommon($color) {
  padding: 8%;
  flex-basis: 25%;
  flex-shrink: 1;
  flex-grow: 0;
  font-size: 7vw;
  color: white;
  border: 2px solid white;
  background-color: rgba($color,0.4);
  text-align: center;
}